.black-txt{
    color: black;
}

.white-txt{
    color: #ffffff;
}

#header-img{
    height: 424px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*filter: brightness(0.2);*/

}

#dark{
    background: rgba(0, 0, 0, 0.7);
    height: 424px;
}

header{
    text-align: center;
    margin: 64px;
}

#white-logo{
    height: 64px;
}

#articles{
    height: 64px;
    text-align: center;
    margin-top: 56px;
}

.courgette-font{
    font-family: 'Courgette Regular';
}

.ozwald-font{
    font-family: 'Ozwald VariableFont_wght';
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    border-bottom: solid 1px gray;
    height: 72px;
}
nav div{
    margin-top:16px;
    margin-left: 16px;
}

#articles-img1, #articles-img2, #articles-img3{
    background-size: cover;
    background-repeat: no-repeat;
}