#header-img{
    background-image: url(../img/header.jpg);
}

#articles{
    height: 64px;
    text-align: center;
    margin-top: 16px;
}

#img-1{
    background-image: url("../img/articles/suzette/suzette-small.jpg");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
}
#img-2{
    background-image: url("../img/articles/metro/metro-small.jpg");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
}
#img-3{
    background-image: url("../img/articles/vitaly/vitaly-small.jpg");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
}
